@import url('https://fonts.googleapis.com/css?family=Charmonman|Lato');

* { margin: 0; padding: 0; font-family: 'Lato';}

header {
  background: #61D2D6;
  padding: 2em;
  font-size: 26px;
  color: white;
  display: flow-root;
}

a.hamburger-btn {
  float: left;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

header ul {
  float: right;
  list-style: none;
  display: flex;
}
header ul li {
  margin-right: 2em;
}

header li a{
  color: white;
  text-decoration: none;
}


/* Hero section */
.hero {
  background-image: url("https://source.unsplash.com/1600x900/?food");
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.mobile-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 80vw;
  top: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease;
  transform: translateX(-100%);
}
.mobile-menu ul {
  list-style: none;
}
.mobile-menu ul li {
  font-size: 2em;
  line-height: 2em;
}

.mobile-menu a{
  color: white;
}


main {
  padding-top: 2em;
  height: 90vh;
  background: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main h1 {
  color: black;
  font-size: 4em;
}

.open {
    transform: translateX(0);
}